@page "/"
@page "/CharacterManager"

@using PSOBBCharacterDataDecoderWeb.Service.Implements
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using PSOBBCharacterDataDecoderWeb.Model
@using PSOBBCharacterDataDecoderWeb.Components
@inject IWebHostEnvironment Environment
@inject PSOBBCharacterDataFileService PsobbService

<PageTitle>PSOBBCharacterManager</PageTitle>

@if (Characters.Count() > 0)
{

    <RadzenDataList PageSize="1" WrapItems="true" AllowPaging="true" PagerPosition="PagerPosition.Top"
                Data="@Characters" TItem="CharacterModel">
        <Template Context="character">
            <RadzenCard>
                <div class="row">
                    <div class="col-md-6">
                        <div>Name:</div>
                        <b>@(character.Name)</b>
                    </div>
@*                  TODO: Implments  
                    <div class="col-md-6">
                        <div>Level:</div>
                        <b>@(character.Level + " testLevel")</b>
                        <div style="margin-top:20px">Experience:</div>
                        <b>@(character.Experience + " testExp")</b>
                        <div style="margin-top:20px">Race</div>
                        <b>@(character.Race + " testRace")</b>
                    </div>
*@                </div>
            </RadzenCard>

            @if (character.Name != "SHARE BANK")
            {
                <ItemDataGrid GridName="Inventory" ItemList="@character.Items"></ItemDataGrid>
            }

            <ItemDataGrid GridName="@(character.Name == "SHARE BANK" ? "Share" : "Bank")" ItemList="@character.Banks"></ItemDataGrid>
        </Template>
    </RadzenDataList>
}

@code {
    [CascadingParameter]
    public IEnumerable<CharacterModel> Characters { get; set; } = new List<CharacterModel>();
}